/* reset */
* {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

.statusBar,
.main-page > header,
.main-page > main .total {
  background-color: #EEEBE5;
}

/* 전체 화면 */
.app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* 아이폰 상태바 */
.statusBar {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding: 15px 12px;
  box-sizing: border-box;
}

.statusBar .left {
  margin-left: 15px;
}

.statusBar .right {
  font-size: 0;
}

.statusBar .right > img {
  margin-right: 5px;
}

.statusBar .right > img:last-child {
  margin-right: 0;
}

/* 홈 화면 */
.main-page > header {
  width: 100vw;
  height: 43px;
  display: flex;
  padding: 12px 21px 22px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.main-page > header .header-left {
  float: left;
}

.main-page > header .header-right {
  float: left;
}

.main-page > main {
  height: calc(90vh - 50px);
}

.main-page > main > section.total {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 30px 20px 30px;
}

.main-page > main > section.total > .card {
  background-color: white;
  margin: 0 auto 20px;
  height: 155px;
  width: calc(100vw - 100px);
  border-radius: 14px;
}

/* 총 금액 카드 부분 */
section.total > .card > header {
  height: 40px;
  position: relative;
  margin-top: 5px;
  text-align: center;
}

section.total > .card > header > span {
  height: 40px;
  width: 180px;
  margin: auto;
  text-align: center;
  padding-top: 12px;
  font-size: 12px;
  color: #858585;
}

section.total > .card > header > a {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 6px;
  color: #000000;
  font-weight: 600;
}

section.total > .card > .amount {
  height: 35px;
  text-align: center;
  padding-top: 12px;
}

section.total > .card > .amount > strong {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 1px;
}

section.total > .card > .slide {
  position: relative;
  height: 35px;
}

section.total > .card > .slide > .slider {
  width: calc(100vw - 170px);
  height: 35px;
  position: relative;
  margin: auto;
  margin-right: 42px;
  padding-top: 17px;
}

.slider-bar {
  height: 6px;
  background-color: #bbb;
  border-radius: 5px;
  overflow: hidden;
}

.yellow-bar {
  width: 33vw;
  height: 5px;
  background-color: #FFDB4C;
}

.wrap-bar{
  width: 6px;
  bottom: 26px;
  left: 36vw;
  position: absolute;
  background-color: white;
  display: flex;
  justify-content: center;
}

.orange-bar {
  height: 12px;
  width: 3px;
  background-color: orangered;
  border-radius: 5px;
}

.card > .slide > button {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: transparent;
  border: none;
}

.card > footer {
  height: 30px;
  font-size: 13px;
  text-align: center;
  color: #858585;
}

section.total > aside {
  height: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

section.total > aside > a {
  color: #000000;
}

section.total > aside > a > span {
  text-decoration: underline;
}

section.details {
  background-color: white;
  height: calc(100vh - 387px);
  padding: 3px 0 0 0;
  position: relative;
  overflow: hidden;
}

.details > .toggle-wrap {
  width: 100vw;
  height: 2px;
  position: fixed;
}

.details > .toggle-wrap > .toggle {
  height: 2px;
  width: 40px;
  background-color: #ccc;
  margin: auto;
}

.details > .slider {
  height: 45px;
  width: calc(100vw - 80px);
  margin: 20px 40px;
  position: fixed;
  overflow: hidden;
}

.details > .slider::-webkit-scrollbar {
  display: none;
}

.details > .slider > .slides {
  height: 45px;
  width: max-content;
}

.details > .slider > .slides > .slide {
  background-color: gainsboro;
  height: 45px;
  width: 157px;
  border-radius: 5px;
  float: left;
  overflow: hidden;
}

.details > .slider > .slides > .slide:last-child {
  background-color: transparent;
  width: 30px;
}

.details > .slider > .slides > .slide:last-child > img {
  margin-top: 10px;
  float: left;
}

.details > .slider > .slides > .slide:last-child > span {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 11px;
  color: orangered;
}

.details > .slider > .slides > .slide > .gauge {
  background-color: orangered;
  height: 45px;
  width: 85px;
  font-size: 12px;
  color: white;
  padding: 7px 0 0 10px;
  line-height: 1.4;
}

.details > .slider > .slides > .slide > .gauge.yellow {
  background-color: #FFDB4C;
}

.details > .slider > .slides > .slide + .slide {
  margin-left: 10px;
}

.days {
  margin-top: 85px;
  padding: 0 40px;
  overflow: hidden;
  height: 340px;
}

.day + .day {
  margin-top: 40px;
}

.day > .day-title {
  height: 30px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

.day-title > h3 {
  height: 30px;
  width: 50px;
  font-size: 14px;
  font-weight: bold;
}

.day-title > .amount {
  height: 30px;
  width: 100px;
  font-size: 13px;
  color: #bbb;
  text-align: right;
}

.day > ol.spendings {
  width: 80vw;
}

ol.spendings > li {
  width: 80vw;
  height: 30px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

ol.spendings > li + li {
  margin-top: 10px;
}

ol.spendings > li > p {
  height: 30px;
  width: 150px;
}

ol.spendings > li > .amount {
  text-align: right;
  font-weight: lighter;
}

ol.spendings > li > .amount.income {
  color: orangered;
}

/* 지출 관리 화면 */
.manage-page {
  position: absolute;
  top: calc(100vh - 76px);
  background-color: white;
  left: 0;
  bottom: 76px;
  right: 0;
  overflow: scroll;
}

.manage-page.on {
  animation: ease-in-out;
  animation-duration: 0.5s;
  animation-name: rollup;
  animation-fill-mode: forwards;
}

@keyframes rollup {
  from {
    top: calc(100vh - 76px);
  }
  to {
    top: 0;
  }
}

.main-page.off {
  animation: ease-in-out;
  animation-duration: 0.5s;
  animation-name: rolldown;
  animation-fill-mode: forwards;
}

.manage-page > header {
  height: 43px;
}

.manage-page > button.closeManagePageBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 43px;
  width: 43px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding-top: 10px;
}

.manage-page > section {
  padding: 0px 30px 0 30px;
}

.manage-page > section > h2 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 40px;
}

.manage-page > section > .standard {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.standard > .price {
  font-size: 20px;
  color: orangered;
}

.manage-page > section > .slider {
  margin-top: 50px;
  height: 30px;
  position: relative;
}

.manage-slidebar {
  background-color: #bbb;
  border-radius: 5px;
  height: 6px;
  overflow: hidden;
  margin-top: 10px;
}

.manage-slidebar > .setter-around {
  top: -10px;
  width: 10px;
  height: 30px;
  background-color: #eee;
  border-radius: 3px;
}

.manage-slidebar > .setter-around > .orange-setter {
  width: 7px;
  height: 25px;
  border-radius: 3px;
  margin: auto;
}

.manage-page > section > .daily-report {
  margin-top: 50px;
}

.manage-page > section > article > .title {
  height: 24px;
  padding-top: 6px;
}

.daily-report > .graph {
  height: 200px;
  background-color: purple;
}

.manage-page > section > .month-pattern {
  margin-top: 30px;
}

.month-pattern > .graph {
  height: 308px;
  background-color: purple;
}

.month-pattern > ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.month-pattern > ul > li {
  display: flex;
  position: relative;
}

.month-pattern > ul > li > .image-outter {
  width: 30px;
  display: flex;
  justify-content: center;
}

.month-pattern > ul > li > .category {
  margin-left: 10px;
}

.month-pattern > ul > li > .amount {
  position: absolute;
  right: 0;
}

/* nav */
.app nav ul {
  width: 100%;
  height: 76px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  background: linear-gradient(#00bdb2, #c4e7b8);
}

.app nav ul li {
  width: calc(100% / 4);
}

.app nav ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
